*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 80%;
  box-sizing: inherit; }

@media (min-width: 430px) {
  html {
    font-size: 90%; } }

@media (min-width: 650px) {
  html {
    font-size: 100%; } }

body {
  background: #fff;
  color: #48484a;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.625; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #0012ed;
  text-decoration: underline; }
  a:visited {
    color: #851eef; }

.container {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  padding: 1.625rem 0.8125rem; }

@media (min-width: 650px) {
  .container {
    padding: 1.625rem 1.625rem; } }

.title {
  font-size: 3.75rem;
  color: #353535;
  line-height: 1.1;
  margin-bottom: 1.625rem; }

.header {
  position: relative;
  min-height: calc(100vh - 3.25rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .header .title {
    margin: 0; }
  .header .header-name a {
    display: inline-block;
    color: #87878a;
    font-size: 1.125rem;
    letter-spacing: 0.3125rem;
    text-decoration: none; }
  .header p {
    font-size: 1.6875rem; }

.header-intro {
  margin-bottom: 1.625rem; }

.header-image {
  width: 6.25rem;
  margin-bottom: 1.625rem; }

@media (min-width: 650px) {
  .header {
    text-align: left; }
  .header-name,
  .header p {
    margin-left: 8rem; }
  .header-intro {
    position: relative; }
  .header-image {
    display: block;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    position: absolute;
    flex-shrink: 0;
    marign: 0; } }

.logo {
  width: 10rem;
  display: block;
  margin: 1.625rem auto 0; }

@media (min-width: 650px) {
  .logo {
    margin: 1.625rem 0 0 auto; } }
