@import "functions";

$color-background: #FFF;
$color-text: #48484a;
$color-headline: #353535;
$color-link: #0012ed;
$color-subtle: lighten($color-text, 25%);

$fontSize-title      : rem(60px);
$fontSize-headline   : rem(23px);
$fontSize-subHeadline: rem(18px);
$fontSize            : rem(16px);
$fontSize-smaller    : rem(12px);

$baseline : rem(26px);
$line-height: $baseline / $fontSize;
$gutter: rem(13px);
$gutter-bigger: $gutter*2;

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 90%;
	box-sizing: inherit;
}

@media (min-width: 650px) {
	html { font-size: 100% }
}

body {
	background: $color-background;
	color: $color-text;
	font-family: "Rubik", sans-serif;
	font-size: $fontSize;
	line-height: $line-height;
}

img {
	max-width: 100%;
	height: auto;
}

.title {
	font-size: $fontSize-title;
	color: $color-headline;
	line-height: 1.1;
	margin-bottom: $baseline;
}

.link {
	color: $color-link;
	text-decoration: underline;
}

.header {
	position: relative;
	min-height: calc(100vh - #{$baseline*2});
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	.title .link { 
		color: $color-subtle;
		font-weight: 400;
		font-size: $fontSize-subHeadline;
		letter-spacing: rem(5px);
		text-decoration: none;
	}
	p { font-size: rem(27px) }
}

@media (min-width: 724px) {
	.header  {
		text-align: left;
	}

	.header .title,
	.header p {
		margin-left: 8rem;
	}

	.header-image {
		position: absolute;
		flex-shrink: 0;
	}

	.header-intro {
		display: flex;
		align-items: center;
	}
}


.header-image {
	width: rem(100px);
}

.container {
	max-width: 700px;
	margin: 0 auto;
	padding: $baseline $gutter;
}

@media (min-width: 650px) {
	.container {
		padding: $baseline $gutter-bigger;
	}
}