@import 
	"functions",
	"variables";

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 80%;
	box-sizing: inherit;
}

@media (min-width: $brp-sm) {
	html { font-size: 90% }
}

@media (min-width: $brp-md) {
	html { font-size: 100% }
}

body {
	background: $color-background;
	color: $color-text;
	font-family: "Rubik", sans-serif;
	font-size: $fontSize;
	line-height: $line-height;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: $color-link;
	text-decoration: underline;
	&:visited { color: $color-visited }
}

.container {
	display: block;
	max-width: 700px;
	margin: 0 auto;
	padding: $baseline $gutter;
}

@media (min-width: $brp-md) {
	.container { padding: $baseline $gutter-bigger }
}

.title {
	font-size: $fontSize-title;
	color: $color-headline;
	line-height: $lineHeight-title;
	margin-bottom: $baseline;
}

.header {
	position: relative;
	// Compensate top & bottom padding. Don't like scroll bar.
	min-height: calc(100vh - #{$baseline*2});
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	.title { margin: 0 }
	.header-name a { 
		display: inline-block;
		color: $color-subtle;
		font-size: $fontSize-subHeadline;
		letter-spacing: rem(5px);
		text-decoration: none;
	}
	p { font-size: rem(27px) }
}

.header-intro { margin-bottom: $baseline }
.header-image { width: rem(100px) }

@media (min-width: $brp-md) {
	.header { text-align: left }

	.header-name,
	.header p { margin-left: 8rem }

	.header-intro { position: relative }

	.header-image {
		display: block;
		top: 50%;
		left: 0;
		transform: translate3d(0, -50%, 0);
		position: absolute;
		flex-shrink: 0;
	}
}